@font-face {
    font-family: 'Dogica Regular';
    src        : url(../fonts/dogica/TTF/dogicapixelbold.ttf) format('ttf'),
        url(../fonts/dogica/dogicapixelbold.woff) format('woff');
}

body{
    width: 100%;
    overflow-x: hidden;
}

* {
    font-family: 'Dogica Regular';
    line-height: 1.2em;
    padding        : 0;
    margin         : 0;
    font-style     : unset;
    text-decoration: none;

}

a {
    color: unset;
}

.titulo {
    font-size : var(--header2);
    text-align: center;
}

#nav{
    
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 40vh;
}

#divNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
}

.navigator{
    height: 25px;
    width: 25px;
    background-color: white;
}

#backgroundLine{
    height: 50vh;
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -20;
    background-color: white;
    width: 2px;
}