@font-face {
    font-family: 'Dogica Regular';
    src        : url(../fonts/dogica/TTF/dogicapixelbold.ttf) format('ttf'),
        url(../fonts/dogica/dogicapixelbold.woff) format('woff');
}

body{
    width: 100%;
    /* overflow: hidden; */
}

* {
    font-family: 'Dogica Regular';
    line-height: 1.2em;
    padding        : 0;
    margin         : 0;
    font-style     : unset;
    text-decoration: none;

}

a {
    color: unset;
}

@media (min-width: 768px ) {
    body{
        overflow: hidden;
    }
}

@media (min-width: 480 ) {
    
}

@media (min-width: 576px ) {
    
}

@media (min-width: 768px ) {
    
}

@media (min-width: 992px ) {
    
}

@media (min-width: 1200px ) {
    
}

@media (min-width: 1400px ) {
    
}