<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./shared/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="./indexCss/frameStatus.css">
    <link rel="stylesheet" href="./indexCss/experienteMagnata.css">
    <link rel="stylesheet" href="./indexCss/reiDoMorro.css">
    <link rel="stylesheet" href="./indexCss/mapItems.css">
    <link rel="stylesheet" href="./indexCss/nav.css">

    <title>JacarePG</title>
</head>
<body>
    
    <div class="container-fluid status-screen">

        <nav id="nav" class="navbar">
            <div id="divNav">
            <a href="#inicial"><div class="navigator" id="nav1"></div></a>
            <a href="#experienteMagnata"><div class="navigator" id="nav2"></div></a>
            <a href="#rei-do-morro"><div class="navigator" id="nav3"></div></a>
            <a href="#mapItems"><div class="navigator" id="nav4"></div></a>
            </div>
            <div id="backgroundLine"></div>
        </nav>

        <div class="container-fluid bem-vindos" id="inicial">
            <h3>seja bem vindo, fulano de tal</h3>
        </div>
        <div class="container-fluid conteudo" >
            
            <div id="buttonsDiv" class="col-5">
                <div id="buttons" class="buttons">
                    <button class="status-page-button btn">
                        <h6>12</h6>
                        <h6>NEW MESSAGES</h6>
                        <span><img class="img-fluid icon" src="../views/shared/images/icons/message.png" alt=""></span>
                    </button>
                    <button class="status-page-button btn">
                        <h6>124</h6>
                        <h6>PLAYERS</h6>
                        <span><img class="img-fluid icon" src="../views/shared/images/icons/wihite_crocodile.png" alt=""></span>
                    </button>
                    <button id="queroJogar" class="status-page-button btn">
                        <h6>&nbsp&nbsp&nbsp</h6>
                        <h6>QUERO JOGAR</h6>
                        <span><img class="img-fluid icon" src="../views/shared/images/icons/white-controle-de-video-game.png" alt=""></span>
                    </button>
                </div>
    
            </div>
            <div class="col-5 novidades">
                <h3>NOVIDADES</h3>
                <div id="novidadesContent" class="container-fluid novidades-content">
                </div>
            </div>

        </div>

    </div>

    <!-- EXPERIENTE E MAGNATA -->

    <div class="container-fluid experiente-magnata-screen" id="experienteMagnata">
        <div class="container-fluid images-div">
            
            <!-- <div class="img-label" id="magnata">
                <h3 id="text-magnata"><b>MAGNATA</b></h3>
                <img class="img-fluid img-croc-magexp" src="./shared/images/jacares/magnata.jfif">
                <h3 class="name">SID</h3>
            </div>
            <div class="img-label" id="experiente">
                <h3 id="text-experiente img-croc-magexp"><b>EXPERIENTE</b></h3>
                <img class="img-fluid" src="./shared/images/jacares/experiente.jfif">
                <h3 class="name">VIKA</h3>
            </div> -->
        </div>
    </div>

    

    <div class="container-fluid rei-do-morro-screen" id="rei-do-morro">
        <h3><b>REI DO MORRO</b></h3>

        <div id="reiDoMorroCarrousel" class="carousel slide d-block col-11" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner" id="containerCarrousel">
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#reiDoMorroCarrousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#reiDoMorroCarrousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>



        
    </div>

    
    <div class="container-fluid map-items-screen" id="mapItems">
        <h1>MAP ITEMS</h1>
        <div id="mapItemsCarousel" class="carousel slide d-block col-11" data-bs-touch="false" data-bs-interval="false">
            <div class="carousel-inner" id="containerCarrouselMapItems">

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mapItemsCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mapItemsCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div> 
     </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="./indexJs/reiDoMorro.js"></script>
    <script src="./indexJs/mapItems.js"></script>
    <script src="./indexJs/nav.js"></script>
    <script src="./indexJs/inicialFrame.js"></script>
</body>
</html>