
 :root{
    --green: #026D2D;
}

.container-fluid{
    padding: 0;
}

.status-screen{
    background-image: url(../shared/images/gif_bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.conteudo{
    display: flex;
    justify-content:space-between;
    padding-top: 3em;
    
}

.bem-vindos{
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;

    color: white;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20em;
}

.status-page-button{
    background-color: var(--green);
    height: 6em;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.status-page-button:hover{
    color: white;
    cursor    : pointer;
    transform : scale(1.01);
    transition: all 0.5ms;
}

.icon{
    height: 4em;
}

.novidades{
    color: white;
}

.novidades-content{
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: scroll;
    text-align: right;
}

.label-jogar{
    color: white;
    margin-top: 20px;
}

.field-jogar{
    height: 10vh;
    background-color: #DFDFDF;
    border: none;
}

.field-jogar:placeholder-shown{
    font-size: 30px;
    text-align: center;
}

.button-jogar{
    margin-top: 20px;
    height: 15vh;
    border: none;
    background-color: #009B3E;
    border-radius: 50px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-jogar:hover{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
    transition: 0.3s;
}

#buttonsDiv{
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px ) {

    .icon{
        height: 3em;
    }
    
    .status-screen{
        background-position: center;
    }
    
    .conteudo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: fit-content; */
        
    }
    
    .bem-vindos{
        display: none;
    }

    #buttonsDiv{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 20em;
    }

    .status-page-button{
        width: 80vw;
    }
    
    .novidades{
        width: fit-content;
        margin-top: 2em;
    }
    
    .novidades-content{
        height: 20vh;
        width: 80vw;
    }
    
    .label-jogar{
        font-size: x-small;
    }
    
    .field-jogar{
        width: 80vw;
    }
    
    .field-jogar:placeholder-shown{
        font-size: 110%;   
    }
    
    .button-jogar{   
        height: 10vh;
    }

}

@media (min-width: 480 ) {
    
}

@media (min-width: 576px ) {

}

@media (min-width: 768px ) {

    .bem-vindos{
        width: 100vw;
    }

    .bem-vindos h3{
        font-size: larger;
    }

    .icon{
        height: 3em;
    }
    
    .status-screen{
        background-position: center;
        padding-right: 10vw;
    }
    
    .conteudo{
        align-items: center;
        justify-content: space-around;
        /* width: fit-content; */
    }


    #buttonsDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 50vw; */
    }
    
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 20em;
    }

    .status-page-button{
        width: 40vw;
    }
    
    .novidades{
        width: fit-content;
        margin-top: 2em;
    }
    
    .novidades-content{
        height: 60vh;
        width: 40vw;
        overflow-y: scroll;
    }
    
    .label-jogar{
        font-size: 80%;
    }
    
    .field-jogar{
        width: 40vw;
    }
    
    .field-jogar:placeholder-shown{
        font-size: 110%;   
    }
    
    .button-jogar{   
        height: 10vh;
        width: 40vw;
    }
    
}

@media (min-width: 992px ) {
    
}

@media (min-width: 1200px ) {
    
}

@media (min-width: 1400px ) {
    
}